<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Employee Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous" />
<script type="text/javascript"> function validation(){
    if( document.getElementById("empName") == ""){
    	alert("Employee name should not be empty");
    }else if (documwnt.getElementById("empName") == "Jack"){
    	alert("the given employee name is "+document.getElementById('empName'));
    }
    	
    	return false;
    }</script>
</head>
<body>
	<div class="container">
		<h1>Employee Management System</h1>
		<hr style="width: 50%; text-align: left; margin-left: 0" />
		<h2>Save Employee</h2>

		<form action="#" th:action="@{/save}" th:object="${employee}"
			method="POST" th:onsubmit="return validation();">
			<input th:id="empName" type="text" th:field="*{name}"
				placeholder="Employee Name" th:required="required"
				class="form-control mb-4 col-4" /> <input th:id="empDob" type="text"
				th:field="*{dob}" placeholder="Employee Dob" th:required="required"
				class="form-control mb-4 col-4" /> <input th:id="empAddress"
				type="text" th:field="*{address}" placeholder="Employee Address"
				th:required="required" class="form-control mb-4 col-4" /> <input
				th:id="empMobile" type="text" th:field="*{mobile}"
				placeholder="Employee Mobile" th:required="required"
				class="form-control mb-4 col-4" /> <input th:id="empEmail"
				type="text" th:field="*{email}" placeholder="Employee Email"
				th:required="required" class="form-control mb-4 col-4" />

			<button type="submit" th:onclick="validation();"
				class="btn btn-info col-2">Save Employee</button>
		</form>

		<hr style="width: 50%; text-align: left; margin-left: 0" />

		<a th:href="@{/}"> Back to Employee List</a>
	</div>
</body>
</html>